/* styles for my people and people-view exercise!!! */


* {
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body {
    background:lightyellow;
    
    

}

#wrapper {
    max-width: 1200px;
    margin:30px auto;


}
main {
    float:left;
    width: 62%;

}
aside {
    float:left;
    width:35%;

}
footer {
    clear:both;

}
p  {
    margin-bottom:20px;
    line-height:1.4;

}

ul {
    list-style-type:name;
    margin-left:20px;

}

li p {
    margin: 15px 0 20px 0;

}

h1, h2 {
    margin-bottom: 10px;

}















